<p>You need to have credentials to access the database. Just use the "user" and "password" ;)</p>
<h2>Manage</h2>
<p>You can to create, delete or upload tables. Learn more about creating <a href="/about/tablecreate">here</a>.</p>
<h2>Backup</h2>
<p>This operation allows you to create and download JSON for all the tables.</p>
<h2>Restore</h2>
<p>This operation allows you to restore a downloaded JSON backup.</p>
<h2>Generate</h2>
<p>This operation allows you to rebuild all tables. Let's be careful! Some tables may depend on other </p>
